.commentContainer{
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    row-gap: 10px;
}