.users .show{
    margin-top: 10px;
    width: 200px;
    height: 80px;
    background: midnightblue;
    color: white;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
}

.user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user button{
    background: midnightblue;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.selectedPage{
    font-weight: bold;
}