.headerContainer {
    margin-bottom: 20px;
    border-radius: inherit;
    position: relative;

    img {
        float: left;
        width: 64px;
        height: 64px;
    }

    header{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #1890ff;
    }
}
