.friends .title {
    grid-area: friendTitle;
    align-self: self-start;
    justify-self: center;
    font-size: 20px;
}

.friends{
    grid-area: friends;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'friendTitle';
    row-gap: 20px;
    border-top: #712b2b solid;
    padding-top: 20px;
    background-color: midnightblue;
}

.friends .friendsElements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
