.dialog{
    align-self: auto;
    justify-self: left;
    display: grid;
    grid-template-columns: 70px 1fr;
}

.dialog a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
    align-self: center;
    justify-self: left;
}

.dialog a.active {
    color: gold;
}

.dialog img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}