.dialog{
    grid-area: dialog;
    display: grid;
    grid-template-rows: 20px 20px 20px 20px 20px;
    border: black solid;
    align-self: center;
    justify-self: left;
}

.dialog img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.dialog a{
    color: white;
    text-decoration: none;
}

.dialog a.active{
    color: gold;
}