.mainContainer {
    padding-top: 20px;
    margin: auto 10%;
    border-radius: 5px;

    .bodyContainer {
        .sider {
            background-color: inherit;
            margin-right: 20px;
        }
    }
}

