.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
}

.dialog a{
    color: white;
    text-decoration: none;
}

.dialog a.active{
    color: gold;
}