.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
    grid-template-areas: 'dI m';
    background-color: cornflowerblue;
}

.dialogsItems {
    grid-area: dI;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

.messages {
    grid-area: m;
    margin: 0 50px;
    display: grid;
}

.newMessage{
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 100px 50px;
    justify-self: center;
    align-self: self-end;
    height: 100px;
}

